*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-image: url('./assets/images2.jpg');
}
.header {
    margin:auto;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: darkBlue;
    color: #ffffff;
}
h1.border {
    background-color: gray;
    padding: 10px;
    border: 1px solid #453f3d;
    border-radius: 5px;


}


.header h1 {
  display: inline-block;
  font-size: 48px;
}
.header div {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

.header div {
  padding-top: 15px;
  margin-right: 20%;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 25px;
  color : #453f3d;
}

.header div ul {
    list-style-type: none;
}

.header div ul li {
    display: inline-block;
    margin-left: 25px;
}
.float-right{
    float: right;
}
li a{
    color:white;
}
ul.float-right {
    float: right;
    margin: 0 auto;
}

.sub-section {
  margin-top: 5px;
  position: relative;
  width: 96;
  height: 200px;
  background-color: #453f3d;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  background-image: url("./assets/imagesnew.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
 
}

img {
  width: 100%;
  height: 210px;
}

.text-box {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: gray;
  padding: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.text-content {
  width: 265px;
  color: #ffffff;
}

.subtitle {
  margin: 0;
  font-size: 24px;
}

.about-section {
 
  padding: 20px;
  height: 100px;
  margin: 50px;
  border: 1px solid black;
  background-color: #453f3d;
  color: white;
}

p {
  color: white;
}

.about-section {
  display: flex;
  align-items: center;
}

.about-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.about-content h1 {
  flex-shrink: 0;
  border-right: 1px solid black;
  padding-right: 20px;
}

.line {
  border-top: 1px solid white;
  margin: 10px 0;
}

.work-section {
  border: 1px transparent ;
  padding: 15px;
  width: auto;
  margin: 20px;
  margin-bottom: 1px;
  display: flex; 
  flex-direction: row;
  background-color: #453f3d;
  justify-content: space-around; 
  align-items: center;
  flex-wrap: wrap;
  flex-basis: 1000px;
  text-align: center;
}
.work-section h1 {
  padding: 1px;
  border-bottom: 1px;
  color: white;
  text-decoration: underline;

}

.work-section h2{
  border: 1px solid black;
  padding: 50px;
  margin-bottom: 1px;
  background-color: gray;
  padding: 5px;
  margin-bottom: .5; 
  color: #ffffff;
}

.work-section h3 {
  border: 1px solid black;
  padding: 5px;
  margin-bottom: 1px;
  background-color: gray;
  padding: 10px;
  color: #ffffff
}

.box-section {
  position: relative;
  height: 400px;
  background-color: #453f3d;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 20px;
  display: flex; 
  flex-direction: column; 
  background-color: white;
  width: 250px;

}














.contact-section {
  margin: 20px;
    font-size: 24px;
    text-decoration-color: black;
    background-color: #453f3d;
}
.contact-section h2{
    font-size: 20px;
}
.contact-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .contact-section h1,
  .contact-section h2 {
    display: inline;
    margin: 0 10px;
  }
  .contact-section {
    background-color: #f1f1f1;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
